@import "./Colors.scss";

.clients {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("../../public/images/testimonial.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

   .intro{
    color: $white;
  }
}
